[tool.poetry]
name = "crc"
version = "1.1.3"
description = "Library and CLI to calculate and verify all kinds of CRC checksums"
packages = [
    { include = "crc.py" },
]
authors = ["Nicola Coretti <nico.coretti@gmail.com>"]
maintainers = ["Nicola Coretti <nico.coretti@gmail.com>"]
license = "BSD-2-Clause"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "License :: OSI Approved :: BSD License",
]
keywords = ['CRC', 'CRC8', 'CRC16', 'CRC32', 'CRC64']
repository = "https://github.com/Nicoretti/crc"
homepage = "https://github.com/Nicoretti/crc"

[tool.poetry.scripts]
crc = "crc:main"

[tool.poetry.dependencies]
python = ">=3.7,<4.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pylint = "^2.12.2"
nox = "^2022.1.7"
coveralls = "^3.3.1"
black = "^22.1.0"
isort = "^5.10.1"



[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
source = [
    "crc",
]

[tool.pylint.master]
fail-under = 8

[tool.pylint.format]
max-line-length = 88
max-module-lines = 800

[tool.pylint.message_control]
disable = "C0330, C0326"

[tool.black]
line-length = 88
verbose = true
include = "\\.pyi?$"

[too.isort]
profile = "black"
