name: Publish Documentation

on: workflow_call

jobs:

  documentation-job:
    runs-on: ubuntu-latest

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: "3.10"

      - name: Build Documentation
        run: |
          poetry run mkdocs build -c -s -d ../.html-documentation -f docs/mkdocs.yml
          touch .html-documentation/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.9
        with:
          branch: gh-pages
          folder: .html-documentation
          git-config-name: Github Action
          git-config-email: nico.coretti@gmail.com
